.Sponser{
    /* margin-top: rem;  */
    /* display: flex; */
    /* background-color: #000; */
    border-color:  5px solid #000000;
    color: rgb(17, 2, 2);
    border-radius: .3rem;   
    padding-left: 5rem;
}